* {
	padding: 0;
	margin: 0;
	font-size: 1em;
	cursor: default;
}

body {
	width: 60%;
	margin: 0 auto;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
	body main {
		padding: 20px;
	}
		body main section.list {
			padding-top: 2%;
			/*border-top: 1px solid #ccc;*/
		}
			body main section.list ul {
				list-style: none;
				width: 80%;
				margin: 0 auto;
				padding: 0;
			}
				body main section.list ul li {
					padding: 15px;
					margin: 10px;
					background-color: rgb(121, 213, 213);
					color: white;
				}
		body main section.new {
			margin: 0 auto;
			width: 76.6%;
			background-color: #f0f0f0;
			padding: 2%;
		}
			body main section.new input {
				width: 100%;
				border: 0;
				background-color: #f0f0f0;
			}
				body main section.new input:focus {
					outline: 0;
				}
	body main footer {
		position: absolute;
		bottom: 5px;
		right: 5px;
		font-size: 80%;
	}
